<button mat-raised-button color="primary" (click)="onAddNewPlant()" class="mb-4">Add New Plant</button>
<div class="row">
  <div class="col-md-12">
    @if (DataState.LOADING_STATE === state) {
     
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
   
    }

    @if (DataState.LOADED_STATE === state) {
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
  
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
  
          <!-- Image Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element">
              <img [src]="element.imageUrl" alt="{{element.imageUrl}}">
            </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <!-- Weight Column -->
          <ng-container matColumnDef="wateringDate">
            <th mat-header-cell *matHeaderCellDef> Watering Date </th>
            <td mat-cell *matCellDef="let element"> {{element.wateringDate}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="wateringFrequency">
            <th mat-header-cell *matHeaderCellDef> Watering Frequency </th>
            <td mat-cell *matCellDef="let element"> {{element.wateringFrequency}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="specie">
            <th mat-header-cell *matHeaderCellDef> Specie </th>
            <td mat-cell *matCellDef="let element"> {{element.specie.name}} </td>
          </ng-container>
          <!-- Symbol Column   saveWateringDate-->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="definePlantNeed(element)"> <mat-icon>open_in_new</mat-icon></button>
              &nbsp;
              @if((spinnerWatering$ | async) === ''){
              <button mat-icon-button (click)="saveWateringDate(element)">
                <mat-icon>event_available</mat-icon></button>
              }
              @if((spinnerWatering$ | async) === element.id){
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              }
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    }

    @if (DataState.ERROR_STATE === state) {
     <div class="error">
      An error occured
     </div>
    }
    
    
   

  </div>
</div>